ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #111111;
  background: #fafafa;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}

.header-content {
  width: 1070px;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin-left: 15px;
  margin-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ============ HEADER STYLES =========== */
.header-nav-list {
  display: flex;
  column-gap: 40px;
}

.header-nav-item {
  font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.header-nav-item:hover, .header-nav-item:focus {
color: #ff6c00;
}

.header-phone {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.header-phone:hover, .header-phone:focus {
  color: #ff6c00;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin-left: 38px;
}

.header-container {
  background-image: url(../css/images/Slider\ img\ 3.jpg);
  background-size: cover;

  background-position: center;
}

.header-button {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  background: transparent;
}

.header-button:hover, .header-button:focus {
  background: #ff6c00;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

/* ============ SIDEBAR STYLES =========== */


.sidebar-layer {
  max-width: 155px;
}
.sidebar-section-item {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: #303030;
}
.sidebar-section-item:hover, .sidebar-section-item:focus {color: #ff6c00;

}
.sidebar-section-list {
  display: flex;
  gap: 100px;
  background: #ffffff;
  padding-top: 32px;

  flex-direction: column;
  align-items: center;
}

.sidebar-section-item a {
  display: inline-block;
  transform: rotate(-90deg);
}
.sidebar-section-logo
{
display: flex;
    transform: rotate(-90deg);
}
.sidebar-section-item:nth-child(2) {
  margin-top: 262px;
}

.header-wraper {
  display: flex;
  justify-content: center;
}

.hero-wraper {
  display: flex;
  flex-direction: column;

  margin-left: 100px;
  margin-top: 184px;
}
.hero-descr {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66667;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 461px;
}



.hero-descr::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 60px;
  background: rgba(157, 164, 189, 0.6);
  transform: rotate(-90deg);
  margin-right: 50px;
  margin-left: 30px;
}
 .curent::after {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background: rgba(157, 164, 189, 0.6);

    margin-left: 40px;
    margin-top: 70px;
    margin-bottom: 20px;
  
}

